<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>386961531857-48npi6h0g1cqgknejmptqvmv3a8aeggm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386961531857-48npi6h0g1cqgknejmptqvmv3a8aeggm</string>
	<key>API_KEY</key>
	<string>AIzaSyD61fO8EAMfhIAaHppATvFTVxQOI1symio</string>
	<key>GCM_SENDER_ID</key>
	<string>386961531857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matheuscouto.moving2gether</string>
	<key>PROJECT_ID</key>
	<string>moving-2gether</string>
	<key>STORAGE_BUCKET</key>
	<string>moving-2gether.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386961531857:ios:f984c7f3d0840575</string>
	<key>DATABASE_URL</key>
	<string>https://moving-2gether.firebaseio.com</string>
</dict>
</plist>